<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.WEBSITE_TITLE }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ config.WEBSITE_DESCRIPTION }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ config.WEBSITE_KEYWORDS }}{% endblock %}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
</head>
<body class="bg-black text-green-400 font-mono">

    <!-- Navigation Bar -->
    {% include 'navbar.html' %}

    <!-- Main Container -->
    <div class="container mx-auto px-4 pt-8 md:pt-12 flex-grow flex flex-col justify-center">
        {% block content %}{% endblock %}
    </div>

    {% block modals %}{% endblock %}

    <!-- Consolidated JavaScript file -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
